Arduino/Dev/ArduBlock/ardublock/src/main/resources/com/ardublock/block/lang_def.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
    Document   : lang_def.dtd
    Description:
        This defines the language and initial workspace setup.
-->


<!ELEMENT BlockLangDef ( BlockConnectorShapes, BlockGenuses, BlockFamilies?, BlockDrawerSets?, Pages?, TrashCan?, MiniMap?)>

<!--This defines a mapping between block connector shape type to number-->
<!ELEMENT BlockConnectorShapes (BlockConnectorShape*)>
<!ELEMENT BlockConnectorShape EMPTY>
<!ATTLIST BlockConnectorShape shape-type CDATA #REQUIRED>
<!ATTLIST BlockConnectorShape shape-number CDATA #REQUIRED>

<!ELEMENT BlockGenuses (BlockGenus*)>
<!--This defines a single block genus-->
<!ELEMENT BlockGenus (description?, BlockConnectors?,Stubs?, Images?, LangSpecProperties?)>
<!ATTLIST BlockGenus name CDATA #REQUIRED>
<!ATTLIST BlockGenus initlabel CDATA #REQUIRED>
<!-- the kind of a genus can affect the rendering of a block.  relevant kinds are: 
    - command: performs an operation and may take in more than one input 
    - data: returns primitive values such as number, string, boolean
    - function: takes in an input and performs an operation to produce an ouput
-->
<!ATTLIST BlockGenus kind CDATA #REQUIRED>
<!ATTLIST BlockGenus color CDATA #REQUIRED>
<!ATTLIST BlockGenus editable-label (yes|no) "no">
<!ATTLIST BlockGenus label-unique (yes|no) "no">
<!ATTLIST BlockGenus is-label-value (yes|no) "no">
<!ATTLIST BlockGenus label-prefix CDATA #IMPLIED>
<!ATTLIST BlockGenus label-suffix CDATA #IMPLIED>
<!ATTLIST BlockGenus page-label-enabled (yes|no) "no">
<!--is-starter and is-terminator only apply to blocks of kind: command -->
<!ATTLIST BlockGenus is-starter (yes|no) "no">
<!ATTLIST BlockGenus is-terminator (yes|no) "no">


<!--This defines a block description and the description of its block arguments-->
<!ELEMENT arg EMPTY>
<!ATTLIST arg n CDATA #REQUIRED name CDATA #IMPLIED>

<!ELEMENT description (text, arg-description*)>
<!ELEMENT text (#PCDATA|note|em|i|br|arg)*>
<!ELEMENT arg-description (#PCDATA)>
<!ATTLIST arg-description n CDATA #REQUIRED name CDATA #REQUIRED>
<!ELEMENT note (#PCDATA|arg|i)*>
<!ELEMENT em (#PCDATA)>
<!ELEMENT i (#PCDATA)>
<!ELEMENT br (#PCDATA)>

<!--BlockConnectors are where blocks get connected-->
<!ELEMENT BlockConnectors (BlockConnector*)>
<!ELEMENT BlockConnector (DefaultArg?)>
<!ATTLIST BlockConnector label CDATA #IMPLIED>
<!ATTLIST BlockConnector label-editable (yes|no) "no">
<!-- Order matters with socket connectors and at most one plug is allowed (no multiple return types) -->
<!ATTLIST BlockConnector connector-kind (plug|socket) #REQUIRED>
<!-- for connector-type use the shape-type values specified in block connectors-->
<!ATTLIST BlockConnector connector-type CDATA #REQUIRED>  
<!ATTLIST BlockConnector position-type (single|mirror|bottom) "single"> 
<!ATTLIST BlockConnector is-expandable (yes|no) "no">  

<!ELEMENT DefaultArg EMPTY>
<!ATTLIST DefaultArg genus-name CDATA #REQUIRED> 
<!ATTLIST DefaultArg label CDATA #IMPLIED>

<!ELEMENT Stubs (Stub*)>
<!--This defines a stub of a block, so that the block can exist as a single entity and have mini-references to it-->
<!ELEMENT Stub  (LangSpecProperties)>
<!ATTLIST Stub scope CDATA #IMPLIED>
<!ATTLIST Stub stub-genus (getter|setter|caller|agent|inc) #REQUIRED>

<!-- Defines the images that are drawn on the block itself. 
     Note: For now, only one image is enabled and wrap-text and image-editable have no effect.
     Note: make sure FileLocation specified is relative to workspace directory -->
<!ELEMENT Images (Image)>
<!ELEMENT Image (FileLocation)>
<!ATTLIST Image wrap-text (yes|no) "no">
<!ATTLIST Image image-editable (yes|no) "no">
<!ATTLIST Image block-location (center|east|west|north|south|southeast|southwest|northeast|northwest) "center">
<!ATTLIST Image width CDATA #IMPLIED>
<!ATTLIST Image height CDATA #IMPLIED>
<!ELEMENT FileLocation (#PCDATA)>


<!ELEMENT LangSpecProperties (LangSpecProperty*)>
<!ELEMENT LangSpecProperty (#PCDATA)>
<!ATTLIST LangSpecProperty key CDATA #REQUIRED>
<!ATTLIST LangSpecProperty value CDATA #REQUIRED>

<!--This defines a BlockGenus Family-->
<!ELEMENT BlockFamilies (BlockFamily*)>
<!ELEMENT BlockFamily (FamilyMember*)>
<!ELEMENT FamilyMember (#PCDATA)>

<!-- Defines BlockDrawerSets and their Block Drawer content-->
<!ELEMENT BlockDrawerSets (BlockDrawerSet*)>
<!ELEMENT BlockDrawerSet (BlockDrawer*)>
<!ATTLIST BlockDrawerSet type (bar|stack) "bar">
<!ATTLIST BlockDrawerSet name CDATA #REQUIRED>
<!ATTLIST BlockDrawerSet location (east|west|north|south|northeast|southeast|southwest|northwest) "west">
<!-- window-per-drawer specifies if each drawer should be its own draggable window.  otherwise, all the drawers 
	are contained within one draggable window and only one drawer can be opened at once. 
	Whether or not the window is draggable depends if drawer-draggable is set to "yes." --> 
<!ATTLIST BlockDrawerSet window-per-drawer (yes|no) "yes">
<!ATTLIST BlockDrawerSet drawer-draggable (yes|no) "yes">
<!-- the width of all the drawers within this set -->
<!ATTLIST BlockDrawerSet width CDATA #IMPLIED> 

<!--This defines BlockDrawers and their content-->
<!ELEMENT BlockDrawer ( (BlockGenusMember | Separator | NextLine)* )>
<!ATTLIST BlockDrawer name CDATA #REQUIRED>
<!ATTLIST BlockDrawer type (default|factory|page|custom) "default">
<!ATTLIST BlockDrawer is-open (yes|no) "no">
<!ATTLIST BlockDrawer button-color CDATA #REQUIRED>
<!ELEMENT BlockGenusMember (#PCDATA)>
<!ELEMENT Separator EMPTY>
<!ELEMENT NextLine EMPTY>

<!-- Defines Pages dividing the Block Canvas and the optional PageDrawers associated with them
     Each Page can have only one PageDrawer.  
     For now, every page must have a drawer or no pages can have drawers.
     The block canvas need not contain any pages.  You may choose to have
     a blank canvas instead of a canvas of pages.
-->
<!ELEMENT Pages (Page*)>
<!-- 
	 drawer-with-page auto generates a new drawer for each new page created by a user 
     and creates an empty drawer for each page that does not specify a page drawer 
-->
<!ATTLIST Pages drawer-with-page (yes|no) "no">
<!ELEMENT Page (PageDrawer?)>
<!ATTLIST Page page-name CDATA #REQUIRED>
<!ATTLIST Page page-width CDATA #REQUIRED>
<!ATTLIST Page page-drawer CDATA #IMPLIED>
<!ATTLIST Page page-color CDATA #IMPLIED>
<!ATTLIST Page page-shape CDATA #IMPLIED>

<!ELEMENT PageDrawer (BlockGenusMember*)>

<!-- If specified a trash can will appear on the workspace.
	For both of its child elements, a location for the images should be specified relative to the working directory.
	The open trash image appears when a user drags a block over the trashcan.  The closed trash image is the default 
	image during steady state. 
     -->
<!ELEMENT TrashCan (OpenTrashImage, ClosedTrashImage)>
<!ELEMENT OpenTrashImage (#PCDATA)>
<!ELEMENT ClosedTrashImage (#PCDATA)>

<!-- By default, a minimap will always appear in the upper right corner
  	 of the block canvas, unless enabled is set to "no." 
  	 -->
<!ELEMENT MiniMap EMPTY>
<!ATTLIST MiniMap enabled (yes|no) "yes">

<!-- By default, typeblocking will be enabled, such that when the user types onto the canvas
	 blocks will fly out that match the entered text.
  	 -->
<!ELEMENT Typeblocking EMPTY>
<!ATTLIST Typeblocking enabled (yes|no) "yes">

<!-- Colors from:  http://www.w3.org/TR/css3-color/#rgb-color -->

<!ENTITY color.aliceblue '240 248 255'>
<!ENTITY color.antiquewhite '250 235 215'>
<!ENTITY color.aqua '0 255 255'>
<!ENTITY color.aquamarine '127 255 212'>
<!ENTITY color.azure '240 255 255'>
<!ENTITY color.beige '245 245 220'>
<!ENTITY color.bisque '255 228 196'>
<!ENTITY color.black '0 0 0'>
<!ENTITY color.blanchedalmond '255 235 205'>
<!ENTITY color.blue '0 0 255'>
<!ENTITY color.blueviolet '138 43 226'>
<!ENTITY color.brown '165 42 42'>
<!ENTITY color.burlywood '222 184 135'>
<!ENTITY color.cadetblue '95 158 160'>
<!ENTITY color.chartreuse '127 255 0'>
<!ENTITY color.chocolate '210 105 30'>
<!ENTITY color.coral '255 127 80'>
<!ENTITY color.cornflowerblue '100 149 237'>
<!ENTITY color.cornsilk '255 248 220'>
<!ENTITY color.crimson '220 20 60'>
<!ENTITY color.cyan '0 255 255'>
<!ENTITY color.darkblue '0 0 139'>
<!ENTITY color.darkcoral '205 91 69'>
<!ENTITY color.darkcyan '0 139 139'>
<!ENTITY color.darkgoldenrod '184 134 11'>
<!ENTITY color.darkgray '169 169 169'>
<!ENTITY color.darkgreen '0 100 0'>
<!ENTITY color.darkgrey '169 169 169'>
<!ENTITY color.darkkhaki '189 183 107'>
<!ENTITY color.darkmagenta '139 0 139'>
<!ENTITY color.darkolivegreen '85 107 47'>
<!ENTITY color.darkorange '255 140 0'>
<!ENTITY color.darkorchid '153 50 204'>
<!ENTITY color.darkred '139 0 0'>
<!ENTITY color.darksalmon '233 150 122'>
<!ENTITY color.darkseagreen '143 188 143'>
<!ENTITY color.darkslateblue '72 61 139'>
<!ENTITY color.darkslategray '47 79 79'>
<!ENTITY color.darkslategrey '47 79 79'>
<!ENTITY color.darkturquoise '0 206 209'>
<!ENTITY color.darkviolet '148 0 211'>
<!ENTITY color.deeppink '255 20 147'>
<!ENTITY color.deepskyblue '0 191 255'>
<!ENTITY color.dimgray '105 105 105'>
<!ENTITY color.dimgrey '105 105 105'>
<!ENTITY color.dodgerblue '30 144 255'>
<!ENTITY color.firebrick '178 34 34'>
<!ENTITY color.floralwhite '255 250 240'>
<!ENTITY color.forestgreen '34 139 34'>
<!ENTITY color.fuchsia '255 0 255'>
<!ENTITY color.gainsboro '220 220 220'>
<!ENTITY color.ghostwhite '248 248 255'>
<!ENTITY color.gold '255 215 0'>
<!ENTITY color.goldenrod '218 165 32'>
<!ENTITY color.gray '128 128 128'>
<!ENTITY color.green '0 128 0'>
<!ENTITY color.greenyellow '173 255 47'>
<!ENTITY color.grey '128 128 128'>
<!ENTITY color.honeydew '240 255 240'>
<!ENTITY color.hotpink '255 105 180'>
<!ENTITY color.indianred '205 92 92'>
<!ENTITY color.indigo '75 0 130'>
<!ENTITY color.ivory '255 255 240'>
<!ENTITY color.khaki '240 230 140'>
<!ENTITY color.lavender '230 230 250'>
<!ENTITY color.lavenderblush '255 240 245'>
<!ENTITY color.lawngreen '124 252 0'>
<!ENTITY color.lemonchiffon '255 250 205'>
<!ENTITY color.lightblue '173 216 230'>
<!ENTITY color.lightcoral '240 128 128'>
<!ENTITY color.lightcyan '224 255 255'>
<!ENTITY color.lightgoldenrodyellow '250 250 210'>
<!ENTITY color.lightgray '211 211 211'>
<!ENTITY color.lightgreen '144 238 144'>
<!ENTITY color.lightgrey '211 211 211'>
<!ENTITY color.lightpink '255 182 193'>
<!ENTITY color.lightsalmon '255 160 122'>
<!ENTITY color.lightseagreen '32 178 170'>
<!ENTITY color.lightskyblue '135 206 250'>
<!ENTITY color.lightslategray '119 136 153'>
<!ENTITY color.lightslategrey '119 136 153'>
<!ENTITY color.lightsteelblue '176 196 222'>
<!ENTITY color.lightyellow '255 255 224'>
<!ENTITY color.lime '0 255 0'>
<!ENTITY color.limegreen '50 205 50'>
<!ENTITY color.linen '250 240 230'>
<!ENTITY color.magenta '255 0 255'>
<!ENTITY color.maroon '128 0 0'>
<!ENTITY color.mediumaquamarine '102 205 170'>
<!ENTITY color.mediumblue '0 0 205'>
<!ENTITY color.mediumorchid '186 85 211'>
<!ENTITY color.mediumpurple '147 112 219'>
<!ENTITY color.mediumseagreen '60 179 113'>
<!ENTITY color.mediumslateblue '123 104 238'>
<!ENTITY color.mediumspringgreen '0 250 154'>
<!ENTITY color.mediumturquoise '72 209 204'>
<!ENTITY color.mediumvioletred '199 21 133'>
<!ENTITY color.midnightblue '25 25 112'>
<!ENTITY color.mintcream '245 255 250'>
<!ENTITY color.mistyrose '255 228 225'>
<!ENTITY color.moccasin '255 228 181'>
<!ENTITY color.navajowhite '255 222 173'>
<!ENTITY color.navy '0 0 128'>
<!ENTITY color.oldlace '253 245 230'>
<!ENTITY color.olive '128 128 0'>
<!ENTITY color.olivedrab '107 142 35'>
<!ENTITY color.orange '255 165 0'>
<!ENTITY color.orangered '255 69 0'>
<!ENTITY color.orchid '218 112 214'>
<!ENTITY color.palegoldenrod '238 232 170'>
<!ENTITY color.palegreen '152 251 152'>
<!ENTITY color.paleturquoise '175 238 238'>
<!ENTITY color.palevioletred '219 112 147'>
<!ENTITY color.papayawhip '255 239 213'>
<!ENTITY color.peachpuff '255 218 185'>
<!ENTITY color.peru '205 133 63'>
<!ENTITY color.pink '255 192 203'>
<!ENTITY color.plum '221 160 221'>
<!ENTITY color.powderblue '176 224 230'>
<!ENTITY color.purple '128 0 128'>
<!ENTITY color.red '255 0 0'>
<!ENTITY color.rosybrown '188 143 143'>
<!ENTITY color.royalblue '65 105 225'>
<!ENTITY color.saddlebrown '139 69 19'>
<!ENTITY color.salmon '250 128 114'>
<!ENTITY color.sandybrown '244 164 96'>
<!ENTITY color.seagreen '46 139 87'>
<!ENTITY color.seashell '255 245 238'>
<!ENTITY color.sienna '160 82 45'>
<!ENTITY color.silver '192 192 192'>
<!ENTITY color.skyblue '135 206 235'>
<!ENTITY color.slateblue '106 90 205'>
<!ENTITY color.slategray '112 128 144'>
<!ENTITY color.slategrey '112 128 144'>
<!ENTITY color.snow '255 250 250'>
<!ENTITY color.springgreen '0 255 127'>
<!ENTITY color.steelblue '70 130 180'>
<!ENTITY color.tan '210 180 140'>
<!ENTITY color.teal '0 128 128'>
<!ENTITY color.thistle '216 191 216'>
<!ENTITY color.tomato '255 99 71'>
<!ENTITY color.turquoise '64 224 208'>
<!ENTITY color.violet '238 130 238'>
<!ENTITY color.wheat '245 222 179'>
<!ENTITY color.white '255 255 255'>
<!ENTITY color.whitesmoke '245 245 245'>
<!ENTITY color.yellow '255 255 0'>
<!ENTITY color.yellowgreen '154 205 50'>
